.bg-roxo{
    background-color: #7E459B;    
}

.botao{
    position: fixed;
    bottom: 0;
    left: 0;
}
a:hover{
    font-weigth: bold;
    
}

.imagem-caroucel{
object-fit: cover;
object-position: 0 50%;
height: 65vh;
}

.link-sobre{
    color:purple
}
.icone-links{
    color: purple
}
.habilidades{
    color: white;
}
.sobre{
color: white
}
}
.bg1-roxo{
    background-color: #7E459B;
    max-width: 800px;
    height: 300%; 
}
.redes-sociais i{
font-size: 1.6rem;
}
.button:{
width: 100px;
}
.button:hover{
    opacity: .9;
}
    

